[submodule "ViFinanceCrawLib"]
	path = ViFinanceCrawLib
	url = https://github.com/DTJ-Tran/ViFinanceCrawLib.git
[submodule "Authentication"]
	path = Authentication
	url = https://github.com/cocooda/WebApp.git
	branch = main
[submodule "VnCoreNLP"]
	path = VnCoreNLP
	url = https://github.com/vncorenlp/VnCoreNLP.git
[submodule "Web-for-ViFinance-News"]
	path = Web-for-ViFinance-News
	url = https://github.com/Pluck3dEye/Web-for-ViFinance-News
