--index-url https://download.pytorch.org/whl/cpu
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
transformer
google.generativeai 
blis==0.7.9
requests
beautifulsoup4
news-please>=1.6.13
pyodbc
httpx
textacy
regex
scikit-learn
detoxify
sentence_transformers
tf_keras
boto3
sagemaker
nltk
maturin
tqdm
Flask==2.2.5
redis
networkx
numpy
pandas
flask-cors
gunicorn
hvac
opencensus-ext-azure
python-dotenv
psycopg2-binary
vncorenlp